/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button {
    width: 5%;
    height: 5%;

}

@font-face {
    font-family: 'Maplestory';
    src: url(../../source/Fonts/MaplestoryLight.ttf);
}

.NEM-textbox{
    display: flex;
    position: relative;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    text-align: center;
    line-height: 50%;
    background: black;
    z-index: 10000;
}

/* layout */
.wrapper {
    font-size: 18px;
    font-family: 'Maplestory', sans-serif;
    background: url('../../img/bg/maplestoryBG.jpg') no-repeat;
    height: 100vh;
    position: relative;
    color: white;
    /* pos 줄 것을 대비해서 */
}

.wrapper button {
    position: absolute;
    color: white;
    left: 2%;
    top: 2%;
    width: 10%;
    background: rgba(255, 165, 0, 0.9);
    border: 3px solid white;
}
.wrapper button:hover{
    height: 6%;
    background: rgb(255, 165, 0);
    width: 15%;
    font-size: 30px;
}

.wrapper .start-button {
    font-size: 20px;
    border-radius: 10px;
    left: 10%; 
}

.wrapper .audioCtrl{
    position: absolute;
    left: 75%;
    top: 2%;
    font-size: 25px;
    color: white;
    border-radius: 10px;
    background: rgba(255, 165, 0, 0.9);
   /*  border: 3px solid white; */
}


/* header */
header {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    color: orange;
    font-size: 45px;
}
header img{
    position: relative;
    display: inline-block;
    width: 3%;
    height: 20%;
}

/* main */
section.main {
    /* Main Game Scene */
    width: 80%;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 0 0 5px, rgba(0, 0, 0, 0.7);

    /*   */
    background: url(../../img/bg/main-bg.png) no-repeat;
    background-size: 100vw 100vh;

    /* 왼쪽 상단 꼭지점 50% */
    position: absolute;
    left: 50%;
    top: 50%;

    /*  다시 중앙배치 */
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* upper-ui(위쪽 메뉴) */
section.main .upper-ui {
    display: flex;
    width: 100%;
    height: 20%;
    color: white;
    background: rgba(255, 165, 0, 0.3);
}

/* stage 문구 */
/* section.main .upper-ui .stage {
    position: relative;
    height: 50%;
    top: -15%;
    padding-left: 5%;
    margin: 0;
    font-size: 30px;
    height: 50%;
} */

section.main .upper-ui .stage {/* 임시 */
    position: relative;
    height: 50%;
    top: -18%;
    padding-left: 2%;
    margin-right:-10%;
    margin: 0;
    font-size: 50px;
    height: 50%;
}

/* 남은 적 게이지
section.main .upper-ui .enemyGauge {
    position: absolute;
    top: 10%;
    width: 20%;
    height: 13%;
    background: rgba(128, 128, 128, 0.3);
}

section.main .upper-ui .enemyGauge .gauge {
    margin: 0 20px;
    width: 90%;
    height: 50%;
}

section.main .upper-ui .enemyGauge .togo {
    z-index: 1000;
    width: 100%;

    background: rgba(0, 255, 128, 0.8);
    border-radius: 10px;
    border: 3px solid white;
}

section.main .upper-ui .enemyGauge .leftover {
    position: relative;
    top: -55%;
    width: 80%;
    background: rgba(255, 0, 128, 0.8);
    border-radius: 10px;
    border: 3px solid white;
} */

/* timer */
section.main .upper-ui .timer {
    position: absolute;
    left: 25%;
    font-size: 30px;
}

section.main .upper-ui .timer h3 {
    margin: 25% auto;
    text-align: center;
}

/* money */
section.main .upper-ui .money {
    position: absolute;
    left: 34%;
    top: -1%;
    font-size: 30px;
}

section.main .upper-ui .money h3 {
    margin: 21% auto;
    text-align: center;
}

/* score */
section.main .upper-ui .totalScore {
    position: absolute;
    left: 45%;
    font-size: 30px;
}

section.main .upper-ui .totalScore h3 {
    margin: 19% auto;
    text-align: center;
}

section.main .upper-ui .summon-list {
    display: flex;
    position: relative;
    width: 45%;
    height: 100%;
    left: 38%;
    margin: 0 1%;
    overflow: hidden;
    box-sizing: border-box;
  /*   border: 1px solid black; */
}

section.main .upper-ui .summon-list .miner {
    display: flex;
    width: 45%;
    height: 100%;
    /*  height: 95%; */
    box-sizing: border-box;
    /*border: 5px solid white;  */
}

section.main .upper-ui .summon-list .miner .miner-txt{
    position: relative;
    padding-top: 7%;
    margin-right: 10%;
    font-size: 23px;
    /*  border: 1px solid white;  */ 
}

section.main .upper-ui .summon-list .miner-img{
    left: 10%;
    border: 5px solid white;  
}

section.main .upper-ui .summon-list .attacker {
    display: flex;
    width: 45%;
    height: 100%;
    margin-left: 3%;
    left: 50%;
    box-sizing: border-box;
}

section.main .upper-ui .summon-list .attacker .attacker-txt{
    position: relative;
    padding-top: 8%;
    
    font-size: 22px;
}

section.main .upper-ui .summon-list .attacker .attacker-img{ 
    transform: scaleX(90%);
    border: 5px solid white; 
}



/* game-zone */
section.main .game-zone {
    position: absolute;
    top: 20%;

    width: 100%;
    height: 80%;
}

/* lane */
section.main .game-zone .lane {
    height: 25%;
}

/* summon pos */
section.main .game-zone .lane .left{ 
    position: absolute;
    left: 60%;
    width: 10%;
    height: 25%;
}
section.main .game-zone .lane .left:hover{ 
    box-sizing: border-box;
    border: 3px dashed white;
}

section.main .game-zone .lane .middle{
    position: absolute;
    left: 70%;
    width: 10%;
    height: 25%;
}

section.main .game-zone .lane .middle:hover{ 
    box-sizing: border-box;
    border: 3px dashed white;
}

section.main .game-zone .lane .right{
    position: absolute;
    left: 80%;
    width: 10%;
    height: 25%;
}

section.main .game-zone .lane .right:hover{ 
    box-sizing: border-box;
    border: 3px dashed white;
}

section.main .game-zone .hero{
    position: absolute;
    display: none;
}


/* lane Position */
section.main .game-zone .lane1 {
    width: 100%;
    background: rgba(0, 128, 0, 0.3);
}
section.main .game-zone .lane2 {
    top: 25%;
    width: 100%;
    background: rgba(0, 64, 128, 0.4);
}
section.main .game-zone .lane3 {
    top: 50%;
    width: 100%;
    background: rgba(0, 128, 0, 0.3);
}
section.main .game-zone .lane4 {
    top: 75%;
    width: 100%;
    background: rgba(0, 64, 128, 0.4);
}
